
@{
    ViewBag.Title = "Sidebar Links";
    
}

<h2>Additonal Information</h2>

                            <div class="wrapper-ie">
                                <h2></h2>
                            </div>
                            <div class="pagination">
                               
                            <ul class="">
                                <li>
                                    <h4>Shipping & Pickup</h4>
                                    <p class="">
                   Payment and Shipping/Pickup
Bid Up Antiques Fees - Listing Fees Apply and fees are subject to change without notice, No Selling Commission Fees..

Payment - Payment for vehicles are arranged between the buyer and the seller although Bid Up Antiques recommends payment be made through Escrow.com, (please click on the link on our homepage to read more about Escrow.com) wire transfer, cashier''s check, or money order. Disputes arising from non-payment and all collection costs including but not limited to collection agency fees and/or attorney''s fee and court costs are the sole responsibility of the seller. 
        Buyers agree to indemnify, defend, and hold harmless Classic Cars Buy or Sell from any and all liability arising from decisions made resolving disputes.

Sales Tax Indemnification - Buyers purchasing vehicles from Bid Up Antiques upon presentation of a sales tax exemption certificate agree to indemnify, defend and hold Bid Up Antiques harmless from any and all sales tax assessments, fines, penalties, damages, and costs, including attorney fees, incurred as a result of a taxing authority determination that the transaction was subject to the payment of sales or excise tax.

Renege Fee - In the event a buyer reneges on a vehicle, the buyer is responsible for any and all collection costs, including attorney fees and court costs. Bidding privileges will be suspended until payment has been received. Any buyer that reneges on a second vehicle will have his bidding privileges revoked.
</p>
                                   
                                    
                                </li>
                                <li class="even">
                                    <h4>Privacy Notice</h4>
                                    <p class="p2">When you visit and navigate our website, and when you communicate with us via our site, we may collect personal information about you. By "personal information," we mean information that is unique to an individual and by which the individual may be identified, such as name, address, membership number or financial information that is associated directly with an individual account. This information is collected in order to provide benefits and services to you and to continue to improve and enhance our service offerings. This information may include, but is not limited to, that which you provide voluntarily through your interactions with the site, as well as information about how you use and navigate through the site.
We will not sell, license or transfer personal information we gather from you outside of Classic Cars Buy or Sell and/or its affiliates, except as necessary to provide you with information, services or products that we offer independently or jointly with others, as required by law or in connection with judicial or governmental proceedings, or in connection with the sale of all or substantially all of Classic Cars Buy or Sell assets or of the assets of a division of Classic Cars Buy or Sell.
Confidentiality of Personal Information
Classic Cars Buy or Sell uses reasonable efforts to protect the privacy and confidentiality of your personal information, including encrypting personal information as it is transmitted between your computer and Classic Cars Buy or Sell via our website. In addition, employees of Classic Cars Buy or Sell are subject to confidentiality and compliance policies relating to personal information.
When communicating personal information through the Classic Cars Buy or Sell website, you will be provided with a user identification code (user ID) and a password. Your password is your private key to access your account and personal information. To maintain the confidentiality of your account, you should never share your password with anyone. In addition, you should change it periodically and you should select a password that is difficult for others to identify.
Non-Personal Information
We may use and disclose to others information about you and your use of the website by which you are not identified, such as the type of browser you use, the files you request, the URL (Uniform Resource Locator) and geographic location from which you request information, the URL that you came from and go to and similar information, and information compiled in the form of statistical, demographic, or aggregated information about visitors generally to the website. This information is referred to in this document as "Non-Personal Information."
We utilize technical mechanisms such as cookies and pixel tags (also called clear gifs) to gather non-personal site usage information. Cookies are small pieces of information that are stored by your browser on your computer's hard drive. Most web browsers automatically accept cookies, but you can usually change your browser to prevent the use of cookies. If you turn off cookies in your browser, however, some portions of our site may not be available to you. Pixel tags are imbedded in the web page and note visits to certain site locations. They may also be used in email communications to note if you have received and opened email communications from us.
Non-Personal Information may also be used by our advertising service providers to support Online Behavioral Advertising, or Interest-based advertising as it is sometimes called.
Note: If you opt out of Online Behavioral Advertising, you may still receive online advertising from Classic Cars Buy or Sell. Opting out from a specific advertising provider means that the ads you do receive will not be based on your preferences or behavior.
Also, In order for Online Behavioral Advertising opt-outs to work, your browser must be set to accept cookies. Because the opt-out is registered for the specific computer and browser you use when submitting the opt-out, you will need to opt-out again if you delete the cookies from your computer, buy a new computer, access our website from a different computer, login under a different screen name, or change web browsers.

/p>
                                    
                                    <div class="wrapper">
                                </li>
                                <li>
                                    <h6>Contact Us</h6>
                                    <p class="p1"><address>
    One Desiree Way<br />
    HappyTown, USA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    314.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@bidupantiques.com">Support@bidupantiques.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@bidupantiques.com">Marketing@bidupantiques.com</a>
</address>
                                    
                                    
                                </li>


                                <li class="even">
                                    <h4> FAQs</h4>
                                        
           <p class="p1"> Q. How do I list a Classic Auto or Antique Motorcycle I want to sell?
A. Log into your Account.
1.	Click "Sell" on the top navigation bar.
2.	Select the correct category: Classic Car, Truck, or Antique Motorcycle, or Place a Classified Ad, and then click "Next."
3.	Choose Listing Type "Auction or Fixed" (Auction 10 Days at a Buy it now price or Reserve Auction) and (Fixed is a set price and runs for 30 days) Classified Ad runs for 30 Days.
4.	Follow each step for a standard listing upload photos, video or both.
5.	Click Create listing and you are on your way to selling your Classic Car, Truck or Antique Motorcycle.
Q. How do I relist an item?
A. Log into your Account.
1.	Click on "My Account" upper right hand side of the top navigation bar.
2.	From the drop down menu click "My Listings."
3.	On the listing you want to relist click on the Bolt icon far right side and click on "relist."
Q. How do I End a listing early?
A. Log into your Account.
1.	Click on "My Account" upper right hand side of the top navigation bar.
2.	From the drop down menu click "My Listings."
3.	On the listing you want to end click on the Bolt icon far right side and click on "End Early."
Q. How do I Edit an Item?
A. Log into your Account.
1.	Click on "My Account" upper right hand side of the top navigation bar.
2.	From the drop down menu click "My Listings."
3.	On the listing you want to edit, click on the Bolt icon far right side and click on "Edit."
Q. How can I recover a lost or forgotten password?
A. Send yourself a password reset via email.
1.	From the sign in page select the Forgot password? link or click here.
2.	Enter your email address associated with your account and click the [Submit] button.
3.	Check your email inbox. If the email does not arrive in your inbox be sure to check your junk mail folder or spam filter.
4.	Click the reset link in that email.
5.	Choose a new password.
Q. How do I change my password?
A. You can change your password at any time.
1.	From your logged in account, go to your "My Account" area.
2.	From the left hand menu, select "Account > Password."
3.	Enter your current password.
4.	Choose your new password.
5.	Save your changes by clicking the [Change Password] button.
Q. Why am I not receiving any emails?
A. If you are not receiving expected site emails, please check the following:
1.	Check your junk mail folder or spam filter for the missing emails.
2.	Make sure that your email address, in your account settings, is entered correctly.
3.	Verify that your email client, such as Outlook, is not in “offline” mode.
4.	If you use a POP3 connection to retrieve your email, please verify that the emails were not downloaded to a different computer.
     If you are still not receiving our emails, please contact us.
Q. How do I change the email address tied to my account?
A. You can change your email address by editing your account details within your “My Account” area.
Q. Why do I get a warning message that my selected username is invalid?
A. Every user must select a username for their account. The username can only contain letters, numbers, underscores, and hyphens. We recommend replacing all [spaces] with either an underscore or hyphen.
Incorrect: MY Username
Correct: MY-Username
Correct: MY_Username
Or, it says that the username selected is already in use.
Usernames are unique. Two users cannot share the same username. If you get a notice during registration that your username is already in use, you will need to select a different username.
Q. Why does it say that my email address is already in use?
A. If you get a notice that your email address is already in use when creating an account, it means that you have already created an account with us at some point. If you do not remember your login information, please enter your email address into the forgotten password form and you will be able to reset your password and log in to your account.
Q. What are Bid Up Antiques Listing Fees?
A. 10 Day Auction - $8.88     60 Day Fixed Listing - $8.88     Classified Ad - 30 Day $4.44     List Until Sold - $12.83  & No Final Selling Commission Fees!
/p>

                                        
                            </ul>
                            