@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Desiree Way<br />
    HappyTown, USA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    314.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@bidupantiques.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@bidupantiques.com">Marketing@example.com</a>
</address>