@{
    ViewBag.Title = "Home Page";
}

                            <div class="wrapper-ie">
                                <h2>Featured Antiques</h2>
                            </div>
                            <h4>1940 Willys Pickup</h4>
                            <div class="wrapper"> 
                            
                                <img src="~/Images/1940 Willys Pickup.jpg" alt=""height="113" width="150" class="img-indent">
                                <div class="extra-wrap">
                                    <p>1940 WIllys pickup

                                All steel, 302 AOD FORD,
                                3.25 Rear Gear, Griffin     
                                Radiator, Bear Claw
                                latches, box frame, Easy
                                wire, Willy's Replacement
                                headlight kit, disc brake
                                  kit not installed.
                                    </p>

                                    <div class="wrapper">
                           
                                    </div>
                                </div>
                            </div>
                            <div class="line-hor"></div>
                            <h4>1941 Ford Coupe </h4>
                            <div class="wrapper">
                                
                                <img src="~/Images/1941 Ford Coupe.jpg" alt=""height="113" width="150"class="img-indent">
                                <div class="extra-wrap">
                                    <p>1941 FORD COUPE, completely restored by a professional (Ken's Klassics located in Muscoda, WI). Restoration cost was higher then price we are asking. Have invoices showing all new parts purchased, cost, photos as restoration progressed. We had vehicle before restoration. Got vehicle back from restoration in 2000 and have driven it VERY little, no time to enjoy it is reason for selling. Vehicle is stored inside and in addition, is kept covered with a regular car cover. Additional photos may be provided upon request. MINT CONDITION.</p>
                                    
                                </div>
                            </div>
                            <div class="line-hor"></div>
                            <h4>1946 Ford Woodie</h4>
                            <div class="wrapper">
                                <img src="~/Images/1946 Ford Woodie.jpg" alt=""height="113" width="150" class="img-indent">
                                <div class="extra-wrap">
                        <p>64 olds f85 94,000 miles (custom made fiberglass hood scoop)
455 with a fresh turbo 400 and 12 bolt 390 posi
Engine has 5500 miles on it. I recently upgraded the valve train.
New lunati hyd 540 lift cam, lifters, pushrods, and double roller timing chain.
Fesh c# casting heads with all new valves, lunati springs, comp cams rockers.
Milodon high volume water pump, holley 750 4150 series street carb, eldlebrock air gap intake.
Hughes 2500 stall coverter and flywheel , aluminum trans pan, summit mini starter, hei dist.
</p>
                                    <div class="wrapper">
                                        
                                    </div>
                                </div>
                            </div>
                       