
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

                            <div class="wrapper-ie">
                                <h2>Frequently asked questions</h2>
                            </div>
                            <dl class="faq">
                                <dt>Q: Lorem ipsum dolor sit amet, consectetur adipiscing eli?</dt>
                                <dd>A: Nulla laoreet tortor ac mi sagittis faucibus. Vestibulum hendrerit vehicula metus convallis mollis. Vestibulum elit massa, venenatis eget placerat non, lobortis a eros. Curabitur nibh ligula, bibendum eget gravida non, ornare id nunc.</dd>

                                <dt>Q: Donec at ligula cursus odio elementum suscipit a ac velit?</dt>
                                <dd>A: Morbi luctus blandit tortor sed sagittis. Donec nec massa orci, vitae scelerisque quam. Curabitur rutrum dignissim dui, a lobortis nibh pretium non. Aenean facilisis imperdiet felis, pulvinar lobortis sem bibendum quis.</dd>

                                <dt>Q: Mauris tempor porta velit sit amet euismod?</dt>
                                <dd>A: Nam id ipsum a nibh sodales hendrerit sed id erat. Mauris accumsan porttitor ipsum, id condimentum ligula aliquam at. Morbi enim risus, elemen- tum laoreet ornare at, egestas quis dolor. Aliquam ac ante elit, in tincidunt massa. Vivamus dui orci, feugiat quis malesuada a, sodales sit amet elit.</dd>

                                <dt>Q: Cras pellentesque magna neque?</dt>
                                <dd>A: Ut pretium metus. Ut semper bibendum viverra. Praesent vitae leo lacus, ac interdum quam. In ac ante lacus, eget molestie quam. Phasellus accumsan, nulla id porta sollicitudin, nunc est commodo urna, id tincidunt erat orci ac dui. Vestibulum vitae neque nec enim tincidunt adipiscing vitae eu lacus. Donec fringilla elementum ante, sit amet auctor dolor euismod vel. Pellentesque suscipit sollicitudin quam.</dd>

                                <dt>Q: Proin et enim elit, at semper diam?</dt>
                                <dd class="last">A: Donec bibendum nibh et augue malesuada eu luctus risus cursus. Aliquam erat volutpat. Quisque eget faucibus neque. Ut ultricies lobortis turpis in semper. Sed imperdiet condimentum augue consectetur ed imperdiet condimentum augue  faucibus.</dd>
                            </dl>
                        