
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<html> </html> lang="en">

                            <div class="wrapper-ie">
                                <h2>Contact Information</h2>
                            </div>
                            <h4>2 Bearings</h4>
                            <div class="img-box">
                                <img src="images/map.gif" alt="" class="img-indent">
                                <dl class="address extra-wrap">
                                    <dt>
                                        <strong>The Company Name Inc.</strong><br />
                                        8901 Marmora Road,<br />
                                        Glasgow, D04 89GR.
                                    </dt>
                                    <dd><span>Freephone:</span>+1 800 559 6580</dd>
                                    <dd><span>Telephone:</span>+1 959 603 6035</dd>
                                    <dd><span>FAX:</span>+1 101 889 9898</dd>
                                    <dd>E-mail: <a href="#">mail@demolink.org</a></dd>
                                </dl>
                            </div>
                            <h2>Contact form</h2>
                            <form action="" id="contacts-form">
                                <fieldset>
                                    <div class="col-1">
                                        <label>
                                            Enter Your Name:<br />
                                            <input type="text" value="" />
                                        </label>
                                        <label>
                                            Enter Your E-mail:<br />
                                            <input type="text" value="" />
                                        </label>
                                        <label>
                                            Enter Your State:<br />
                                            <input type="text" value="" />
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        Enter Your Message:<br />
                                        <textarea cols="" rows=""></textarea>
                                        <div class="wrapper">
                                            <a href="#" class="button" onclick="document.getElementById('contacts-form').submit()">Submit</a><a href="#" class="button" onclick="document.getElementById('contacts-form').reset()">Reset</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                           
                       